.imgFeatureJob {
	border-radius: 10px;
}

.featureJobsItemContent {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 10px;
}

.jobTitle {
	font-weight: 800;
}

.jobAddress {
	color: #708496;
}

.workTime {
	font-size: 0.8rem;
	color: #e9473f;
	border-radius: 4px;
	background-color: #f7fbff;
	padding: 5px;
	width: fit-content;
}

.detailFeatureJob {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.detailFeatureJob img:hover {
	cursor: pointer;
}
