.signup {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	font-size: 0.85rem;
}
.signupContent {
	padding: 24px;
	border-radius: 8xp;
	box-shadow: 0px 8px 24px rgba(0, 25, 54, 0.1);
	width: fit-content;
	max-width: 400px;
}

.title {
	font-size: 2rem;
}

.role {
	margin-bottom: 20px;
}

.role p {
	color: #708496;
	margin-bottom: 0;
}

.roleChoose {
	display: flex;
}

.roleItem {
	display: flex;
	align-items: center;
	margin: 8px 30px 8px 0px;
}

.roleItem input {
	margin-left: 0;
}

.roleItem label {
	font-weight: 600;
}

.policy {
	margin-top: 26px;
}

.policy > .checkboxItem {
	margin-bottom: 10px;
}

.signupBtn {
	padding: 6px 145px;
	margin-top: 19px;
	width: 100%;
}

.note {
	margin-top: 12px;
	text-align: center;
}
