.footer {
	background-color: #02203a;
	color: white;
	padding-top: 50px;
	font-size: 0.8rem;
}
.footer .footerContainer1 {
	display: grid;
	grid-template-columns: 50% 50%;
	padding-left: 50px;
	padding-right: 50px;
}
.footer .footerContainer1 .contactInfo {
	display: grid;
	grid-template-columns: 40% 20% 20% 20%;
	justify-content: space-between;
}
.footer .footerContainer1 .contactInfo p {
	margin: 0 5px;
	margin-bottom: 10px;
}
.footer .footerContainer1 .contactInfo .contactItem {
	display: flex;
	align-items: flex-start;
}
.footer .footerContainer1 .titleFooter {
	font-weight: 700;
}
.footer .footerContainer2 {
	padding: 20px 50px;
	display: grid;
	grid-template-columns: 70% 30%;
}
.footer .footerContainer2 .socialMedia {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 992px) {
	.footer .footerContainer1 {
		display: grid;
		grid-template-columns: 40% 60%;
	}
}

@media only screen and (max-width: 576px) {
	.footer .footerContainer1 {
		display: grid;
		grid-template-columns: 1fr;
	}
	.footer .contactInfo {
		margin-top: 20px;
	}
	.footer .footerContainer2 {
		padding: 20px 50px;
		display: flex;
		flex-direction: column;
	}
	.footer .footerContainer2 .socialMedia {
		margin-top: 10px;
	}
}
@media only screen and (max-width: 440px) {
	.footer .footerContainer1 .contactInfo {
		display: grid;
		grid-template-columns: 1fr;
	}
}
